silverstripe.log
.buildpath
.project
.settings
.solr
.ea
.idea
.DS_Store
.env
.platform.yml
yarn-error.log
silverstripe.log
/assets
/saml
/silverstripe-cache
/resources
/public/resources
/public/assets
/themes/starter
/vendor
/.vagrant
/node_modules
/fulltextsearch-localsolr
Vagrantfile
